{% load static %}
<!DOCTYPE html>
<html lang="uz">
<head>
  <meta charset="UTF-8">
  <title>Login</title>
  <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body>
  {% include "loader.html" %}
  <div class="login-container">
    <h2>Kirish</h2>

    {% if form.errors %}
      <div class="error-msg">
        Username yoki parol noto‘g‘ri!
      </div>
    {% endif %}

    <form method="post">
      {% csrf_token %}
      <div class="form-group">
        <label for="username">Username yoki Email</label>
        <input type="text" id="username" name="username" placeholder="Username yoki Email" required>
      </div>

      <div class="form-group">
        <label for="password">Parol</label>
        <input type="password" id="password" name="password" placeholder="Parolni kiriting" required>
      </div>

      <button type="submit" class="btn">Kirish</button>
    </form>

    <p class="link">
      Akkountingiz yo‘qmi? <a href="{% url 'register' %}">Ro‘yxatdan o‘ting</a>
    </p>
  </div>
</body>
</html>
