{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Email Verification</title>
    <link rel="stylesheet" href="{% static 'css/verify.css' %}">
</head>
<body>
{% include "loader.html" %}
    <div class="verify-container">
        <h2>Emailni tasdiqlash</h2>
        <p>Gmailingizga yuborilgan kodni kiriting:</p>

        <form method="POST">
            {% csrf_token %}
            <input type="text" name="code" placeholder="Tasdiqlash kodi" required>
            <button type="submit">Tasdiqlash</button>
        </form>

        {% if error %}
            <p class="error">{{ error }}</p>
        {% endif %}
    </div>
</body>
</html>
