{% load static %}
<!DOCTYPE html>
<html lang="uz">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Kitoblar</title>

    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'css/books.css' %}" />
    <link rel="stylesheet" href="{% static 'css/sidebar.css' %}" />
</head>
<body>


    <img id="hamburger" class="hamburger-icon" src="https://www.svgrepo.com/show/506247/menu-vertical.svg" alt="Menu" />


    {% include "sidebar.html" %}


    <div class="book-grid">
        {% for book in books %}
        <div class="book-card"
             data-title="{{ book.title }}"
             data-owner="{{ book.owner }}"
             data-description="{{ book.description }}"
             data-img="{{ book.img.url }}"
             data-file="{% if book.file %}{{ book.file.url }}{% endif %}"
             data-url="{% if book.url %}{{ book.url }}{% endif %}"
             data-audio="{% if book.audio %}{{ book.audio.url }}{% endif %}"
             data-audio-duration="{{ book.audio_duration }}"
             data-file-type="{{ book.file_type }}">

            <img src="{{ book.img.url }}" alt="{{ book.title }}" />
            <h3>{{ book.title }}</h3>
            <p>{{ book.description|truncatewords:12 }}</p>
            <span class="owner">👤 {{ book.owner }}</span>
        </div>
        {% endfor %}
    </div>


    <div id="bookModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>

            <h2 id="modalTitle"></h2>
            <p id="modalDescription"></p>


            <iframe id="modalReader" src="" width="100%" height="600" class="modal-reader"></iframe>


            <button id="openInNewWindow" class="btn btn-open-window">TO'LIQ OCHISH</button>


<div id="downloadButtons" class="download-buttons">
    <a id="modalFileDownload" href="" download class="btn-download btn-file" style="display:none;">
        📥 Kitobni yuklab olish
    </a>

    <a id="modalAudioDownload" href="" download class="btn-download btn-audio" style="display:none;">
        🎧 Audio yuklab olish
    </a>
</div>

        </div>
    </div>


    <script src="{% static 'js/books.js' %}"></script>
    <script>
const bookGrid = document.querySelector('.book-grid');

if (window.innerWidth > 768) {  // faqat katta ekranlarda margin-left beriladi
  bookGrid.style.marginLeft = '15rem';
} else {
  bookGrid.style.marginLeft = ''; // mobilda margin-left o'chiriladi (yoki default qoldiriladi)
}

    </script>
</body>
</html>
