{% load static %}
<link rel="stylesheet" href="{% static 'css/sidebar.css' %}">

<aside class="book-spine">
  <h2>
    <button id="mode-toggle" class="mode-toggle-btn" title="Rejimni o'zgartirish">
      <img src="https://www.svgrepo.com/show/433086/light-mode.svg" alt="Light mode" width="18" height="18">
    </button>
  </h2>

  <ul>
    <li><a href="/home/" data-tooltip="Bosh sahifa"><img src="https://www.svgrepo.com/show/520794/home-20.svg" width="20" height="20"></a></li>
    <li><a href="/sher/" data-tooltip="She'rlar"><img src="https://www.svgrepo.com/show/139639/poet.svg" width="18" height="18"></a></li>
    <li><a href="/philosophy/" data-tooltip="Falsafa"><img src="https://www.svgrepo.com/show/46927/mind-gears.svg" width="18" height="18"></a></li>
    <li><a href="/books/" data-tooltip="Kitoblar"><img src="https://cdn.jsdelivr.net/gh/iconic/open-iconic/svg/book.svg" width="18" height="18"></a></li>
    <li><a href="/search/" data-tooltip="Qidiruv"><img src="https://www.svgrepo.com/show/507851/search-square.svg" width="20" height="20"></a></li>
    <li><a href="/accounts/hisobim/" data-tooltip="Hisobim"><img src="https://www.svgrepo.com/show/454078/account.svg" width="18" height="18"></a></li>
    <li><a href="/contact/" data-tooltip="Aloqa"><img src="https://www.svgrepo.com/show/533283/phone-call.svg" width="18" height="18"></a></li>
  </ul>

  <div class="logout-section">
    <form action="{% url 'logout' %}" method="post">
      {% csrf_token %}
      <button type="submit" class="logout-btn" data-tooltip="Chiqish">
        <img src="https://www.svgrepo.com/show/506720/logout.svg" width="18" height="18">
      </button>
    </form>
  </div>
</aside>

<script>
  const hamburger = document.getElementById('hamburger');
  const sidebar = document.querySelector('.book-spine');
  hamburger?.addEventListener('click', () => {
    sidebar.classList.toggle('open');
  });
</script>

<div id="loader-overlay">
  <div class="loader"></div>
</div>

<script src="{% static 'js/loader.js' %}"></script>
<script src="{% static 'js/idk.js' %}"></script>